<h1>Product ID: {{currentProduct.id}}</h1>
<div class="row">
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-body">
                <p><span class="alert-info">Nome prodotto:</span> {{currentProduct.name}}</p>
                <p><span class="alert-info">Prezzo prodotto:</span> {{currentProduct.price}}</p>
                <p><span class="alert-info">Descrizione prodotto:</span> {{currentProduct.description}}</p>
                <p class="text-center"><a ng-href="{{url}}:{{port}}">Torna indietro</a></p>
            </div>
        </div>
    </div>
</div>